In [ ]:
import pandas as pd

# set the number of decimal places to display to 8
pd.set_option("display.float_format", "{:.8f}".format)

# load pre upper envelope solution (endog_grid.pickle, policy.pickle, value.pickle)
fedor_endog_grid = pd.read_pickle(
    "xx_pre_fedor_ue_endog_grid_choice0_lagged0_period21.pickle"
)
fedor_policy = pd.read_pickle("xx_pre_fedor_ue_policy_choice0_lagged0_period21.pickle")
fedor_value = pd.read_pickle("xx_pre_fedor_ue_value_choice0_lagged0_period21.pickle")

fues_endog_grid = pd.read_pickle(
    "xx_pre_fues_endog_grid_choice0_lagged0_period21.pickle"
)
fues_policy = pd.read_pickle("xx_pre_fues_policy_choice0_lagged0_period21.pickle")
fues_value = pd.read_pickle("xx_pre_fues_value_choice0_lagged0_period21.pickle")

# display the first 30 rows of each dataframe in a combined pd.DataFrame


def combine_arrays(*arrays):
    combined_df = pd.concat([pd.Series(a) for a in arrays], axis=1)
    combined_df.columns = [
        "endog_grid_fedor",
        "endog_grid_fues",
        "policy_fedor",
        "policy_fues",
        "value_fedor",
        "value_fues",
    ]
    return combined_df


# display the first 30 rows of endog_grid, policy, and value
result = combine_arrays(
    fedor_endog_grid,
    fues_endog_grid,
    fedor_policy,
    fues_policy,
    fedor_value,
    fues_value,
)
# display(result[10:15])

# create a new dataframe with the difference between fedor and fues


def create_difference_df(fedor, fues):
    return pd.DataFrame({"difference": fedor - fues})


# calculate the differences
fedor_endog_grid_diff = create_difference_df(fedor_endog_grid, fues_endog_grid)
fedor_policy_diff = create_difference_df(fedor_policy, fues_policy)
fedor_value_diff = create_difference_df(fedor_value, fues_value)
# display the differences
# display(fedor_endog_grid_diff[10:15])
# display(fedor_policy_diff[10:15])
# display(fedor_value_diff[10:15])

,endog_grid_fedor,endog_grid_fues,policy_fedor,policy_fues,value_fedor,value_fues
10,6.89677143,6.89677143,5.89476728,5.89476728,2.49741030,2.49741030
11,7.03385925,7.03385925,5.93165493,5.93165493,2.50170946,2.50170946
12,7.17094707,7.17094707,5.96854210,5.96854210,2.50593042,2.50593042
13,7.30803490,7.30803490,6.00542974,6.00542974,2.51011276,2.51011276
14,7.44512272,7.44512272,6.04231739,6.04231739,2.51425576,2.51425576

    difference
10  0.00000000
11  0.00000000
12  0.00000000
13  0.00000000
14  0.00000000

    difference
10  0.00000000
11  0.00000000
12  0.00000000
13  0.00000000
14  0.00000000

    difference
10  0.00000000
11  0.00000000
12  0.00000000
13  0.00000000
14  0.00000000